.form__input-error {
    transition: .3s;
    opacity: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    width: 380px;
    margin-left: 36px;
    display: block;
    min-height: 30px;
    padding-top: 5px;
}