.header__logo {
        margin: 0;
        padding: 45px 0 41px 0;
        background-image: url(../../../images/header-logo.svg);
        background-repeat: no-repeat;
        background-size: 142px;
        background-color: transparent;
        background-position: left center;
        display: flex;
    }
    
    @media screen and (max-width: 890px) {
        .header__logo {
            background-size: 103px;
            padding: 28px 0 31px 0;
            background-position: 27px center;
        }
}