.header__logo {
        margin: 0;
        padding-top: 74px;
        background-image: url(../../../images/header-logo.svg);
        background-repeat: no-repeat;
        background-size: 142px;
        background-color: transparent;
        background-position: left top;
        display: flex;
    }
    
    @media screen and (max-width: 890px) {
        .header__logo {
            background-size: 103px;
            padding-top: 56px;
            background-position: 27px top;
        }
}