.pop-up__close-button {
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
}
.pop-up__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 890px) {
    .pop-up__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -30px;
    }
}