.element__like {
    background-image: url(../../../images/Heart.svg);
    background-size: 22px 19px;
    min-width: 22px;
    min-height: 19px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.element__like:hover {
    opacity: .6;
}